* {
	border: 1px solid black;
	min-height: 10px;
}

body{
    background-color: #F1EDEC;
}

#wrapper{
    display: flex;
    background: white;
}

header {
    text-align: center;
    width: 100%;
}

.secondWrapper{
    position: absolute;
    flex-direction: column;
    left: 20%;
    right: 20%;
}

.imageWrapper, .thirdImageWrapper{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

img{
    width: 100%;
    object-fit: cover;
}

.secondParagraph, .thirdParagraph{
    display: flex;
    background: white;
    margin-top: 50px;
}

.paragraphNumber, .thirdParagraphNumber{
    margin-left: auto;
}

.textWrapper, .thirdTextWrapper{
    text-align: center;
    background: white;
    margin-bottom: 30px;
    width: 100%;
}

.principalWrapper{
    display: flex;
    flex-direction: column;
}


