* {
    margin: 0px;
}

body{
    background-color: #F1EDEC;
}

#wrapper{
    display: flex;
    background: white;
}

header {
    text-align: center;
    width: 84%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.secondWrapper{
    position: absolute;
    flex-direction: column;
    left: 30%;
    right: 30%;
}

.firstParagraph{
    margin-top: 20px;
    margin-bottom: 20px;
}

.firstParagraph p{
    margin-left: 20px;
}

.paragraphNumber p{
    margin-right: 20px;
    color: grey;
}

.paragraphNumber{
    margin-left: auto;
    margin-top: 20px;
}

.imageWrapper{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

img{
    width: 100%;
    object-fit: cover;
}

.secondParagraph{
    display: flex;
    background: white;
    margin-top: 50px;
}

.textWrapper{
    text-align: justify;
    background: white;
    padding: 15px 35px 15px 35px;
    line-height: 1.5;
}

p {
    font-family: "Finger Paint", sans-serif;
}


