* {
	border: 1px dashed red;
	min-height: 10px;
}

body{
    background-color: pink;
}

#wrapper{
    display: flex;
}

header {
    text-align: center;
    width: 100%;
}

.secondWrapper{
    position: absolute;
    top: 12%;
    left: 20%;
    right: 20%;
}

.imageWrapper{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

img{
    width: 100%;
    object-fit: cover;
}

.secondParagraph{
    display: flex;
}

.paragraphNumber{
    margin-left: auto;
}

.textWrapper{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

/**/

/*

.thirdWrapper{
    display: flex;
    flex-direction: column;

}

*/